Django
djangorestframework
djangorestframework-simplejwt
python-dotenv
psycopg2-binary
drf-spectacular
django-cors-headers
whitenoise
dj-database-url
gunicorn
django-filter
openai
langchain
chroma
tiktoken
chromadb